{% extends "base.html" %}

{% block title %}Transacciones{% endblock %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
{% endblock %}

{% block content %}
<div class="container">
    <div class="header-container">
        <h1>Transacciones</h1>
        <a class="add-button" href="{{ url_for('store_transaction') }}">Agregar una nueva transacción</a>
    </div>
</div>
<div class="search-container">
    <form action="{{ url_for('transactions') }}" method="get">
        <input type="text" name="tipo_transacion" placeholder="Buscar por tipo de transacción">
        <input type="number" name="fecha_min" placeholder="Buscar fecha desde">
        <input type="number" name="fecha_max" placeholder="Buscar fecha desde">
        <input type="number" name="monto_min" placeholder="Monto mínimo">
        <input type="number" name="monto_max" placeholder="Monto máximo">
        <button type="submit">Buscar</button>
        <button type="button" class="clear-button" onclick="window.location.href='{{ url_for('transactions') }}'">Limpiar</button>
    </form>
</div>
<table>
    <thead>
        <tr>
            <th>ID Vehículo</th>
            <th>ID Cliente</th>
            <th>Tipo de Transacción</th>
            <th>Fecha</th>
            <th>Monto</th>
            <th>Observaciones</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        {% for transaction in transactions %}
            <tr>
                <td>{{ transaction.id_vehiculo }}</td>
                <td>{{ transaction.id_cliente }}</td>
                <td>{{ transaction.tipo_transaccion }}</td>
                <td>{{ transaction.fecha }}</td>
                <td>US${{ transaction.monto }}</td>
                <td>{{ transaction.observaciones }}</td>
                <td class="actions">
                    <a class="button button-update" href="{{ url_for('update_transaction', transaction_id=transaction.id_transaccion) }}">Actualizar</a>
                    <a class="button button-delete" href="{{ url_for('delete_transaction', transaction_id=transaction.id_transaccion) }}">Eliminar</a>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}

