{% extends "base.html" %}

{% block title %}Eliminar Vehículo{% endblock %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/delete.css') }}">
{% endblock %}

{% block content %}
<div class="main-content">
    <h1>Eliminar Vehículo</h1>
    <p>¿Estás seguro de que deseas eliminar el vehículo {{car.marca}} ( {{car.modelo}} ) con la patente {{ car.patente }}?</p>
    <form action="{{ url_for('delete_car', car_id=car.id_vehiculo) }}" method="post">
        <a href="{{ url_for('cars') }}">Cancelar</a>
        <input type="submit" value="Eliminar">
    </form>
</div>
{% endblock %}
