{% extends "base.html" %}

{% block title %}Agregar Vehículo{% endblock %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/store.css') }}">
{% endblock %}

{% block content %}
<h1>Agregar un Vehículo</h1>
        <form action="{{ url_for('store_car') }}" method="post">
            <label for="patente">Patente:</label><br>
            <input type="text" id="patente" name="patente"><br>
            <label for="marca">Marca:</label><br>
            <input type="text" id="marca" name="marca"><br>
            <label for="modelo">Modelo:</label><br>
            <input type="text" id="modelo" name="modelo"><br>
            <label for="tipo">Tipo:</label><br>
            <input type="text" id="tipo" name="tipo"><br>
            <label for="anio">Año:</label><br>
            <input type="number" id="anio" name="anio"><br>
            <label for="kilometraje">Kilometraje:</label><br>
            <input type="number" id="kilometraje" name="kilometraje"><br>
            <label for="precio_compra">Precio de Compra (Dólar):</label>
            <div class="currency-input"> 
                <input type="number" id="precio_compra" name="precio_compra">
            </div>
            <label for="precio_venta">Precio de Venta (Dólar):</label>
            <div class="currency-input">
                <input type="number" id="precio_venta" name="precio_venta">
            </div>
            <label for="estado">Estado:</label><br>
            <input type="text" id="estado" name="estado"><br><br>
            <div class="button-container">
                <a class="back-button" href="{{ url_for('cars') }}">Volver</a>
                <button type="submit" class="store-button">Guardar</button>
            </div>
        </form>
{% endblock %}

