{% extends "base.html" %}

{% block title %}Actualizar Vehículo{% endblock %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/update.css') }}">
{% endblock %}

{% block content %}
<div class="container">
    <h1 class="header-container">Actualizar Vehículo</h1>
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <ul class="flashes">
                {% for category, message in messages %}
                    <li class="{{ category }}">{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
    <form action="{{ url_for('update_car', car_id=car.id_vehiculo) }}" method="post">
        <div class="form-group">
            <label for="patente">Patente:</label>
            <input type="text" id="patente" name="patente" value="{{ car.patente }}" required>
        </div>
        <div class="form-group">
            <label for="marca">Marca:</label>
            <input type="text" id="marca" name="marca" value="{{ car.marca }}" required>
        </div>
        <div class="form-group">
            <label for="modelo">Modelo:</label>
            <input type="text" id="modelo" name="modelo" value="{{ car.modelo }}" required>
        </div>
        <div class="form-group">
            <label for="tipo">Tipo:</label>
            <input type="text" id="tipo" name="tipo" value="{{ car.tipo }}" required>
        </div>
        <div class="form-group">
            <label for="anio">Año:</label>
            <input type="number" id="anio" name="anio" value="{{ car.anio }}" required>
        </div>
        <div class="form-group">
            <label for="kilometraje">Kilometraje:</label>
            <input type="number" id="kilometraje" name="kilometraje" value="{{ car.kilometraje }}" required>
        </div>
        <div class="form-group">
            <label for="precio_compra">Precio de Compra (Dólar):</label>
            <div class="currency-input">
                <input type="number" id="precio_compra" name="precio_compra" value="{{ car.precio_compra }}" required>
            </div>
        </div>
        <div class="form-group">
            <label for="precio_venta">Precio de Venta (Dólar):</label>
            <div class="currency-input">
                <input type="number" id="precio_venta" name="precio_venta" value="{{ car.precio_venta }}" required>
            </div>
        </div>
        <div class="form-group">
            <label for="estado">Estado:</label>
            <input type="text" id="estado" name="estado" value="{{ car.estado }}" required>
        </div>
        <div class="button-container">
            <a class="back-button" href="{{ url_for('cars') }}">Volver</a>
            <button type="submit" class="update-button">Actualizar</button>
        </div>
    </form>
</div>
{% endblock %}
