{% extends "base.html" %}

{% block title %}Actualizar Vehículo{% endblock %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/update.css') }}">
{% endblock %}

{% block content %}
<h1 class="header-container">Actualizar Vehículo</h1>
        <form action="{{ url_for('update_car', car_id=car.id_vehiculo) }}" method="post">
            <label for="patente">Patente:</label><br>
            <input type="text" id="patente" name="patente" value="{{ car.patente }}"><br>
            <label for="marca">Marca:</label><br>
            <input type="text" id="marca" name="marca" value="{{ car.marca }}"><br>
            <label for="modelo">Modelo:</label><br>
            <input type="text" id="modelo" name="modelo" value="{{ car.modelo }}"><br>
            <label for="tipo">Tipo:</label><br>
            <input type="text" id="tipo" name="tipo" value="{{ car.tipo }}"><br>
            <label for="anio">Año:</label><br>
            <input type="number" id="anio" name="anio" value="{{ car.anio }}"><br>
            <label for="kilometraje">Kilometraje:</label><br>
            <input type="number" id="kilometraje" name="kilometraje" value="{{ car.kilometraje }}"><br>
            <label for="precio_compra">Precio de Compra (Dólar):</label>
            <div class="currency-input">
                <input type="number" id="precio_compra" name="precio_compra" value="{{ car.precio_compra }}">
            </div>
            <label for="precio_venta">Precio de Venta (Dólar):</label>
            <div class="currency-input">
                <input type="number" id="precio_venta" name="precio_venta" value="{{ car.precio_venta }}">
            </div>
            <label for="estado">Estado:</label><br>
            <input type="text" id="estado" name="estado" value="{{ car.estado }}"><br><br>
            <div class="button-container">
                <a class="back-button" href="{{ url_for('cars') }}">Volver</a>
                <button type="submit" class="update-button">Actualizar</button>
            </div>
        </form>
{% endblock %}




