@page {
    size: A4;
    margin: 20mm;
}
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    text-align: center;
    box-sizing: border-box;
    overflow: auto; 
}
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}
.container {
    width: 100%;
    max-width: 210mm;
    padding: 20px;
    border: 1px solid #000;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
    box-sizing: border-box;
    text-align: left;
    margin-bottom: 20px; 
    page-break-inside: avoid;
    page-break-before: auto;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}
.header img {
    max-width: 150px;
}
.header div {
    text-align: right;
}
.details, .accounting-details, .client-details, .vehicle-details {
    margin: 20px 0;
    text-align: left;
}
.details th, .details td, .accounting-details th, .accounting-details td, .client-details th, .client-details td, .vehicle-details th, .vehicle-details td {
    padding: 5px;
    text-align: left;
}
.details th, .accounting-details th, .client-details th, .vehicle-details th {
    background-color: #f2f2f2;
}
.summary {
    margin-top: 20px;
}
.summary th, .summary td {
    padding: 5px;
    text-align: left;
}
.summary th {
    background-color: #f2f2f2;
}
.bordered-table {
    width: 100%;
    border-collapse: collapse;
}
.bordered-table th, .bordered-table td {
    border: 1px solid #000;
}
.buttons {
    width: 100%;
    text-align: center;
    margin-top: 20px;
}
.buttons button {
    padding: 10px 20px;
    margin: 5px;
    font-size: 16px;
    cursor: pointer;
}
.totals {
    margin: 20px 0;
    text-align: right;
}
.totals h3 {
    margin: 5px 0;
}
@media print {
    .buttons {
        display: none;
    }
    body {
        overflow: visible;
        display: block;
    }
    .container {
        page-break-after: always;
        box-shadow: none;
    }
    .container.totals {
        page-break-after: auto;
    }
    @page {
        margin: 20px; 
    }
    html, body {
        margin: 20px;
        padding: 0;
    }
    header, footer, nav, address {
        display: none; 
    }
}
