body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    padding-top: 70px; 
}

header {
    background-color: #333;
    color: white;
    padding: 10px 40px;
    text-align: left;
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 68px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

header img {
    margin-right: 10px;
    height: 50px;
    width: auto;
}

header h2 {
    margin: 0;
}

footer {
    background-color: #333;
    color: white;
    padding: 10px 0;
    text-align: center;
}

main {
    flex: 1;
    padding: 20px;
}

.container {
    background: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 20px 0;
    width: 100%;
    max-width: 1200px;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1 {
    flex: 1;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer ul {
    list-style: none;
    padding: 0;
    text-align: center;
}

label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

input[type="email"],
input[type="text"],
input[type="number"],
input[type="date"],
select {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

textarea {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.back-button {
    background-color: #6c757d;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
}

.back-button:hover {
    background-color: #5a6268;
}

.update-button {
    background-color: #2196F3;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
}

.update-button:hover {
    background-color: #1e88e5;
}

.button-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

header .home-link {
    color: white;
    margin-left: 20px;
    text-decoration: none;
    font-size: 16px; 
    font-weight: bold;
    cursor: pointer;
    padding: 5px 10px; 
    border-radius: 4px; 
    transition: background-color 0.3s, color 0.3s; 
}

.flash-success {
    color: green;
    padding: 10px;
    border: 1px solid green;
    margin-bottom: 10px;
    border-radius: 4px;
}

.flash-danger {
    color: red;
    padding: 10px;
    border: 1px solid red;
    margin-bottom: 10px;
    border-radius: 4px;
}

.flashes {
    list-style: none;
    padding: 0;
}


