<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
</head>
<body>
    <header>
        <img src="{{ url_for('static', filename='images/car_image.png') }}" alt="AppCar Logo">
        <h2>AppCar</h2>
    </header>
    <main>
        <h1>Bienvenido a AppCar</h1>
        <div class="nav-container">
            <a href="{{ url_for('customer_bp.customers') }}">Gestión de Clientes</a>
            <a href="{{ url_for('car_bp.cars') }}">Gestión de Vehículos</a>
            <a href="{{ url_for('transaction_bp.transactions') }}">Gestión de Transacciones</a>
        </div>
    </main>
    <footer>
        <ul>
            <li>Alumna: Beatriz Beatriz Camino </li>
            <li>Fecha: 22/06/2024 | Materia: Programación I | Trabajo Final Integrador</li>
            <li>Profesores: Francisconi Martín | Pineda Fabián | Bidart Franchi Alex | Ruis Dias Franco</li>
        </ul>
    </footer>
</body>
</html>
