{% extends "base.html" %}

{% block title %}Actualizar Cliente{% endblock %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/update.css') }}">
{% endblock %}

{% block content %}
<div class="container">
    <h1 class="header-container">Actualizar Cliente</h1>
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <ul class="flashes">
                {% for category, message in messages %}
                    <li class="flash-{{ category }}">{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
    <form action="{{ url_for('update_customer', customer_id=customer.id_cliente) }}" method="post">
        <div class="form-group">
            <label for="nombre">Nombre:</label>
            <input type="text" id="nombre" name="nombre" value="{{ customer.nombre }}" required>
        </div>
        <div class="form-group">
            <label for="apellido">Apellido:</label>
            <input type="text" id="apellido" name="apellido" value="{{ customer.apellido }}" required>
        </div>
        <div class="form-group">
            <label for="documento">Documento:</label>
            <input type="text" id="documento" name="documento" value="{{ customer.documento }}" required>
        </div>
        <div class="form-group">
            <label for="direccion">Dirección:</label>
            <input type="text" id="direccion" name="direccion" value="{{ customer.direccion }}" required>
        </div>
        <div class="form-group">
            <label for="telefono">Teléfono:</label>
            <input type="text" id="telefono" name="telefono" value="{{ customer.telefono }}" required>
        </div>
        <div class="form-group">
            <label for="correo_electronico">Correo Electrónico:</label>
            <input type="email" id="correo_electronico" name="correo_electronico" value="{{ customer.correo_electronico }}" required>
        </div>
        <div class="button-container">
            <a class="back-button" href="{{ url_for('customers') }}">Volver</a>
            <button type="submit" class="update-button">Actualizar</button>
        </div>
    </form>
</div>
{% endblock %}
